<!DOCTYPE html>
<html>
  <head>
    <title>哈哈</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "浣衣坊", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "首页",    root_path %></li>
          <li><%= link_to "登录",   new_user_session_path %></li>
          <li><%= link_to "注册", new_user_registration_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="container">





  <h1>注册</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
        <input class="btn btn-large btn-primary" type="submit" name="commit" value="Sign up" data-disable-with="Sign up" />
  </div>
<% end %>

<%= render "devise/shared/links" %>










<footer class="footer">
    <small>
    <a href="http://railstutorial.org/">浣衣工作室</a>
    by 白璐
    </small>
    <nav>
    <ul>
        <li><%= link_to "新闻",  '#'  %></li>
        <li><%= link_to "联系", '#' %></li>
        <li><a href="http://news.railstutorial.org/">合作</a></li>
    </ul>
    </nav>


</footer>

</div>


  </body>
</html>
                                                                                     



